.app-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: stretch;
}
.wrapper {
  display: flex;
  width: 100%;
  align-items: stretch;
  overflow: hidden;

  .sidebar {
    flex-basis: 250px;
    flex-grow: 0;
    flex-shrink: 0;

    &.active {
      margin-left: -250px;
    }
  }

  .content {
    flex-grow: 1;
  }



}
